body, button {
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
}

button {
  border: 2px solid lightgray;
  border-radius: 5px;
  margin-right: 2px;
}

.date-range-button-group, .graph-style-button-group {
  float: right;
}

.date-range-button-group button {
  background-color: RGB(239, 239, 239);
  float: right;
  width: 6em;
}

.devices .title {
  text-align: center;
}

.graph-style-button-group {
  width: 100%;
}

.graph-style-button-group button {
  background-color: RGB(217, 234, 211);
  float: right;
  width: 8em;
}

.p2_segmentMainLabel-outer {
  width: 20px;
}

#p2_segmentMainLabel0-outer {
  background-color: RGB(201, 218, 248);
}

#p2_segmentMainLabel1-outer {
  background-color: RGB(234, 208, 220);
}

#p2_segmentMainLabel2-outer {
  background-color: RGB(252, 229, 204);
}

#pieChart {
  margin: 0 auto;
  width: 400px;
}

.pieContainer {
}

.segments, .devices {
  display: inline-block;
  margin-top: 40px;
  vertical-align: top;
  width: 49%;
}

.segments a {
  display: inline-block;
  width: 100px;
}

.segments .all {
  font-size: 1.25em;
}

svg {
  width: 100%;
}

.title {
  font-size: 1.5em;
}

.axis path,
.axis line {
  fill: none;
  stroke: RGB(102, 102, 102);
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.x-axis, .y-axis {
  fill: none;
  stroke: RGB(102, 102, 102);
  stroke-width: 2px;
}
