<span class="title" data-ng-init="init()">Activity</span>

<div ng-model="timeRange" ng-init="timeRange = 14" class="date-range-button-group">
  <button ng-click="setTimeRange(14)">14 Days</button>
  <button ng-click="setTimeRange(7)">7 Days</button>
  <button ng-click="setTimeRange(3)">3 Days</button>
  <button ng-click="setTimeRange(1)">Today</button>
</div>

<svg></svg>

<div ng-model="lineType" class="graph-style-button-group">
  <button ng-click="setLineType('trend')">Trend Line</button>
  <button ng-click="setLineType('mean')">Mean Line</button>
</div>

<div ng-model="segment" ng-init="segment.gender = 'all'" class="segments">
  <div><span class="title">Segments</span></div>
  <div class="all"><a ng-click="setGender('all')">All</a> <span>{{segment.genderCount.male + segment.genderCount.female}}</span></div>
  <div><a ng-click="setGender('male')">Male</a> <span>{{segment.genderCount.male}}</span></div>
  <div><a ng-click="setGender('female')">Female</a> <span>{{segment.genderCount.female}}</span></div>
</div>

<div class="devices">
  <div class="title">Devices</div>
  <div class="pieContainer">
    <div id="pieChart"></div>
  </div>
</div>
